body {
  background-color: black;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.recipe-container {
  text-align: center;
  background-color: azure;
  height: 120px;
  padding: 16px;
}

.recipe {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.beef-bb-sauce {
  margin: 8px;
  display: block;
}

.bibimbap {
  margin: 8px;
  display: block;
}
